.well
	= area_chart Weight.group_by_day(:weight_date).maximum(:weight)

.col-md-6.col-md-offset-3
	=link_to "NEW WEIGHT", new_weight_path, remote: true, id: 'create_button', class: "btn btn-lg btn-block btn-warning"
%br
%br
%br
%br
%h3.weight_title My Weights
%table.table
	%thead
		%tr
			%th
				DATE
			%th
				TIME
			%th 
				WEIGHT (LBS.)
	%tbody#run_table_body
		= render 'weights/weight_table_body'
.pagination_nav
	#paginator
		= render @weights, remote: true
	 
#show_modal.modal_custom

#create_modal.modal_custom

#edit_modal.modal_custom

#fade